<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>hboot blog</title>
    <meta name="description" content="hboot&#39;s blog . some thing will be better">
    <link rel="icon" href="/hboot/site.jpg">
    
    <link rel="preload" href="/hboot/assets/css/0.styles.cc2a502c.css" as="style"><link rel="preload" href="/hboot/assets/js/app.23dbb7db.js" as="script"><link rel="preload" href="/hboot/assets/js/5.4909d248.js" as="script"><link rel="prefetch" href="/hboot/assets/js/10.39b7b1d2.js"><link rel="prefetch" href="/hboot/assets/js/11.e1b9e069.js"><link rel="prefetch" href="/hboot/assets/js/12.21d7af57.js"><link rel="prefetch" href="/hboot/assets/js/13.7554fcf9.js"><link rel="prefetch" href="/hboot/assets/js/14.7b3d9ece.js"><link rel="prefetch" href="/hboot/assets/js/15.d71e6e19.js"><link rel="prefetch" href="/hboot/assets/js/2.cde14293.js"><link rel="prefetch" href="/hboot/assets/js/3.cdd3dbe5.js"><link rel="prefetch" href="/hboot/assets/js/4.2012edcb.js"><link rel="prefetch" href="/hboot/assets/js/6.49436107.js"><link rel="prefetch" href="/hboot/assets/js/7.5ec66e5f.js"><link rel="prefetch" href="/hboot/assets/js/8.8e241d2e.js"><link rel="prefetch" href="/hboot/assets/js/9.60fba3a5.js">
    <link rel="stylesheet" href="/hboot/assets/css/0.styles.cc2a502c.css">
  </head>
  <body>
    <div id="app" data-server-rendered="true"><div class="aboutme"><a class="avatar"><img src="{{user.avatar}}" alt></a> <p>作者：hboot</p></div><div class="global-ui"></div></div>
    <script src="/hboot/assets/js/app.23dbb7db.js" defer></script><script src="/hboot/assets/js/5.4909d248.js" defer></script>
  </body>
</html>
